<h1>Help</h1>

<div class="card">
  <ul>
    <li><%= link_to 'About', :controller => 'help', :action => 'about' %></li>
    <li><%= link_to 'Cheat Sheet', :controller => 'help', :action => 'cheatsheet' %></li>
    <li><%= link_to 'Ratings', :controller => 'help', :action => 'ratings' %></li>
    <li><%= link_to 'Tags', :controller => 'help', :action => 'tags' %></li>
    <li><%= link_to 'Tag aliases', :controller => 'help', :action => 'tag_aliases' %></li>
    <li><%= link_to 'Tag implications', :controller => 'help', :action => 'tag_implications' %></li>
  </ul>
</div>
