<aside id="wall-nav" class="flex-container-v pas">

  <section class="taglist">
    <h2>Colors</h2>
    <div class="color_palette">
      <% @wall.colors.each do |color| %>
        <%= color_link(color) %>
      <% end %>
    </div>
  </section>

  <section class="taglist">
    <h2>Tags</h2>
    <ul class="pa0 ma0 unstyled">

<% @wall.tags.each do |tag| %>
      <li><a href="#"><%= tag.name %></a></li>
<% end %>

      <li><a href="#" class="title">Owari No Seraph <span>10</span></a></li>
      <li><a href="#" class="character">Shinoa Hiiragi <span>2</span></a></li>
    </ul>
  </section>

  <section class="datalist">
    <h2>Informations</h2>

    <dl>
      <dt>Purity</dt>
      <dd><%= @wall.purity %></dd>

      <dt>Resolution</dt>
      <dd><%= @wall.width %> x <%= @wall.height %></dd>

      <dt>Size</dt>
      <dd><%= number_to_human_size(@wall.size) %></dd>

      <dt>Category</dt>
      <dd><%= @wall.category %></dd>

      <dt>Added</dt>
      <dd><%= time_ago_in_words(@wall.created_at) %> ago</dd>
    </dl>
  </section>
</aside>

<div id="wall-display">
  <div class="fit">
    <%= wallpaper_image_tag(@wall, id: 'wallpaper') %>
  </div>

  <div class="wallpaper-dl-btn">
    <a href="<%= wallpaper_dl_path(@wall) %>" class="btn-floating btn-large"><i class="fa fa-download fa-2x"></i></a>
  </div>
</div>
