<section class="tag-brand" style="<%= background_string @background_wallpaper, @tag.bg_x, @tag.bg_y %>">
  <div>
    <header>
      <h1><%= @tag.name %></h1>

      <div>
        <strong>Alias&nbsp;:</strong><br>
        <%= @tag.aliases.map{|v| v.name}.join(', ') %>
      </div>
    </header>


    <ul class="tag-attrs">
      <li>Type&nbsp;: <%= @tag.type.to_s %></li>
      <li>Nb wallpapers : <%= @wallpapers_count %></li>
    </ul>
  </div>

  <% if not @background_wallpaper.nil? %>
  <a href="<%= url_for wallpaper_path(@background_wallpaper) %>" class="wall-bg-link">
    <i class="fa fa-image fa-fw"></i>
  </a>
  <% end %>
  <a href="#set-header-bg-modal" data-toggle="modal" class="edit-btn">
    <i class="fa fa-pencil fa-fw"></i>
  </a>

</section>


<%= render :partial => 'shared/wallpaper_list', :locals => { :infinite => false, :wallpapers => @wallpapers } %>

<% if @wallpapers_count > 12 %>

<div style="text-align: center">

  <a href="<%= url_for search_path(:q => @tag.name) %>" class="btn">Plus de fonds de wallpapers</a>

</div>
<% end %>

<div id="set-header-bg-modal" title="Edit header background" data-width="500px" style="display: none">

  <nav>
    <ul>
      <li><a href="#te-gene-data" data-toggle="tab" class="active">General data</a></li>
      <li><a href="#te-head-bg" data-toggle="tab">Header background</a></li>
      <li><a href="#te-delete" data-toggle="tab">Delete tag</a></li>
    </ul>
  </nav>

  <div class="tabs-pane">
    <section class="pane active" id="te-gene-data">
      <%= render 'form' %>
    </section>

    <section class="pane" id="te-head-bg">
      <%= render 'edit_header_form' %>
    </section>

    <section class="pane" id="te-delete">

      <p class="txtcenter">
        <%= link_to 'Destroy', tag_path(@tag), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>

    </section>
  </div>




</div>