<h1>Admin::Groups#index</h1>

<p class="mbs"><%= link_to 'New group', new_admin_group_path, class: 'btn' %></p>

<table class="table hover">
  <col width="30" span="2">
  <col />
  <col width="80" span="2">
  <thead>
  <tr>
    <th>Id</th>
    <th colspan="2">Name</th>
    <th colspan="2">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |id, group| %>
    <tr>
      <td><%= id %></td>
      <td colspan="2"><%= group[:group].name %></td>
      <td class="action-cell"><%= link_to 'Edit', edit_admin_group_path(group[:group]) %></td>
      <td class="action-cell danger"><%= link_to 'Destroy', admin_group_path(group[:group]),
                                                 method: :delete,
                                                 data: { confirm: 'Are you sure?' } %></td>
    </tr>

    <% group[:children].each do |child| %>
    <tr>
      <td><%= child.id %></td>
      <td>&nbsp;</td>
      <td><%= child.name %></td>
      <td class="action-cell"><%= link_to 'Edit', edit_admin_group_path(child) %></td>
      <td class="action-cell danger"><%= link_to 'Destroy', admin_group_path(child),
                                                 method: :delete,
                                                 data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>